# Useful function

In [1]:
print(round(4.345))

4

In [2]:
print(round(4.556389,3))

4.556

In [3]:
print(round(4.556789,4))

4.5568

In [4]:
g = divmod(34,9)
print(g)
print(type(g))
print(g[1])

(3, 7)
<class 'tuple'>
7

In [5]:
isinstance(3,int)

True

In [6]:
isinstance(3.4, int)

False

In [7]:
isinstance(3.4, float)

True

In [8]:
isinstance(3.4,(int,float))

True

In [9]:
isinstance(3+3j, (int,float))

False

In [10]:
isinstance(2+3j, (int,float,str,complex))

True

pow(x,y,z) x raise to the power y and remainder by z

In [11]:
pow(2,4)

16

In [12]:
2**4

16

In [13]:
pow(2,4,7)

2

In [14]:
x = input("Enter the Number:")

Enter the Number:5

In [15]:
type(x)

str

In [16]:
z= int(x)
print(z)
type(z)

5

int

# Control Flow

In [17]:
a = int(input("Enter marks"))
if a>=85:
    print("A grade")
elif (a < 85) and (a>=80):
    print("A++ grade")
elif (a < 80) and (a >= 70):
    print("b grade")
else:
    print("Below Average")

Enter marks80
A++ grade

In [18]:
a = int(input())
if a>10:
    print("a is greater than 10")
    if a>20:
        print("a is greater than 20")
        if a>30:
            print("a is greater than 30")
        else:
            print("a is less than 30"          
    else:
        print("a is less than 20")
print("outside all file")

30
a is greater than 10
a is greater than 20
a is less than 30
outside all file

In [19]:
x = float(input("Enter the real number"))
y = round(x)
if x>0:
    if y>x:
        inportion = y-1 #29.6
    else:
        inportion = y
else:
    if y>x:
        inportion = y+1
    else:
        inportion = y
        
print(inportion)

Enter the real number32
32

In [20]:
n = int(input())
i = 1
while i < n:
    print(i**2)
    print("This is iteration:", i)
    i+=1  #i = i+1
print("loop closed")

3
1
This is iteration: 1
4
This is iteration: 2
loop closed

In [56]:
i = 1
while True:
    if i%5 == 0:
        print("inside if")
        break
    else:
        print("inside else")
        i+=1
print("Done")

inside else
inside else
inside else
inside else
inside if
Done

In [55]:
i = 1
while True:
    if i%6 != 0:
        print("inside the code")
        i+=1
        continue
    print("something")
    break
        
print("Done")

inside the code
inside the code
inside the code
inside the code
inside the code
something
Done

In [54]:
L = []
for i in range(5):
    print(i)
    L.append(i**2)
print(L)

0
1
2
3
4
[0, 1, 4, 9, 16]

# Else in for loop:

In [24]:
s = {"apple", 4.8, "cherry"}
i = 0
for x in s:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass        
else:
    print("Loop terminate with succes")

apple
4.8
cherry

In [25]:
D = {"A":10, "B":14, "C":18}
for x in D:
    print(x, D[x])

A 10
B 14
C 18

# Function:

In [26]:
# Function (Doc string)

def succesful():
    print("hello")
succesful()

hello

In [27]:
def printmsg(msg):
    if isinstance(msg,str):
        print(msg)
    else:
        print("your input is not string")
printmsg("This is mssg") 
printmsg(23)
printmsg("23")

This is mssg
your input is not string
23

In [28]:
# function(input argument)
def mypow(a,b):
    c = a**b
    return c   #print(c)
mypow(2,3)

8

In [29]:
# Function (order of input argument)
def f(a,b,c):
    print("A is :",a)
    print("B is :",b)
    print("C is :",c)
f(2,3,"game")
print("if i put this function")
f(a= 3, b = 4, c= "name")

A is : 2
B is : 3
C is : game
if i put this function
A is : 3
B is : 4
C is : name

In [30]:
vals = 3
def mygroup():
    print(vals)
mygroup()

3

In [31]:
# Function(return statement)

def r():
    a = 5
    b = 7
    d = "something"
    return a,b,d
x,y,z = r()
print(x,y,z)

5 7 something

In [32]:
def myadd(*args):
    s = 0
    for i in range(len(args)):
        s = s + args[i]
    return s   
print(myadd(2,3,4,5,6))

20

In [33]:
#Default value

def ff(L=[1,2]):
    for i in L:
        print(i)
ff()
print("default value")
L2= [4,9]
ff(L2)

1
2
default value
4
9

# String

In [38]:
s = "python is a good language"
t = "its good for data science"

v = s+" "+t
print(v)
print("hellow",12, "hellow", "who are you", 5.9)

python is a good language its good for data science
hellow 12 hellow who are you 5.9

In [39]:
price = 12
s = "The price of this book"
v = s + ' is: ' + str(price)
print(v)

The price of this book is: 12

In [40]:
a = """this is line 1
this is line 2
this is line 3"""
print(a)

this is line 1
this is line 2
this is line 3

In [41]:
a = "     a lot pf space at the    beginning      "
b = a.strip() # remove the extra space
print(b)

a lot pf space at the    beginning

In [42]:
a = "ABC deFg ;; sadfa  QF"
b = a.lower()  # convert lower value of alphabat
c = a.upper()  # convert upper value of alphabat
d = a.replace(";","**$$") # replace the (; ,) in **$$
print(b)
print(c)
print(d)

abc defg ;; sadfa  qf
ABC DEFG ;; SADFA  QF
ABC deFg **$$**$$ sadfa  QF

In [43]:
a = "and;myname;employee;function"
L = a.split(";")
print(L)

['and', 'myname', 'employee', 'function']

# List, Tuple, Set, Dictionary
# Data structure

In [ ]:
"""Data structure

List         orderd      changable             duplicate
Tuple        orderd      unchangable           duplicate
set          unorderd    addable/removable     no duplicate
Dictionary   unorderd    changable             no duplicate

""""

In [46]:
L = [1,3,4,"name",3]
T = (1,3,5,"name",3)
S = {1,2,5,"name",3}
D = {23:"tower",'B':43, 'C':"CCD"}
print(type(L))
print(type(T))
print(type(S))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [47]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
tower

In [49]:
L = [1,3,4,"name",3]
T = (1,3,5,"name",3)
S = {1,2,5,"name",3}
D = {23:"tower",'B':43, 'C':"CCD"}

print(L[1:3])
print(L[::-1])
print(T[:3])

[3, 4]
[3, 'name', 4, 3, 1]
(1, 3, 5)

In [50]:
L = [1,3,4,"name",3]

L2 = L + [4,5,"Add new number"]
print(L2)

L.append(6.8)
print(L)

del L[3]
print(L)

L3 = L
L3[2] = "four point"
print(L3)

L4 = L.copy()   # we use this for coply the value of L in L4
L4[2] = "second method"
print(L4)

L5 = L[1:5]
print(L5)

[1, 3, 4, 'name', 3, 4, 5, 'Add new number']
[1, 3, 4, 'name', 3, 6.8]
[1, 3, 4, 3, 6.8]
[1, 3, 'four point', 3, 6.8]
[1, 3, 'second method', 3, 6.8]
[3, 'four point', 3, 6.8]

In [51]:
T1 = (1,3,5,"name",3)
T2 = ("A", "F", 45)
T3 = T1+T2
print(T3)

(1, 3, 5, 'name', 3, 'A', 'F', 45)

In [52]:
s = {1,2,5,"name",3}
s.update({23,"game", 1})
print(s)

s.remove("game")
print(s)

{1, 2, 3, 5, 23, 'name', 'game'}
{1, 2, 3, 5, 23, 'name'}

In [53]:
D = {23:"tower",'B':43, 'C':"CCD"}
D["new key"] = "Rishabh"
print(D)

del D['C']
print(D)

D2 = {"y": "YY", "z": 10}
D.update(D2)
print(D)

D.items()

{23: 'tower', 'B': 43, 'C': 'CCD', 'new key': 'Rishabh'}
{23: 'tower', 'B': 43, 'new key': 'Rishabh'}
{23: 'tower', 'B': 43, 'new key': 'Rishabh', 'y': 'YY', 'z': 10}

dict_items([(23, 'tower'), ('B', 43), ('new key', 'Rishabh'), ('y', 'YY'), ('z', 10)])

## Date time

In [9]:
import os
from os import path
import datetime
from datetime import date, time, datetime, timedelta
import time

In [10]:
def main():
    # get today date
    today = date.today()
    print('Today date',today)       
    print('date component', today.day, today.month, today.year)
    
    # Retrieve today's weekday (0 = Monday, 6 = Sunday)
    print('Today is weekly is', today.weekday())
    
    # today current time
    today_time = datetime.now()
    print('current time', today_time)
    
    # Get the current time
    t = datetime.time(datetime.now())
    print('The current time is',t)
    
main()

Today date 2022-03-01
date component 1 3 2022
Today is weekly is 1
current time 2022-03-01 23:40:24.385274
The current time is 23:40:24.385344

In [11]:
from datetime import datetime

def main():
    now = datetime.now()
    
    # %y - Year, %A - weekday, %B - month, %d - day of month
    print(now.strftime('The current year is: %Y' ))
    print(now.strftime("%a, %d, %B, %Y" ))
    
main()

The current year is: 2022
Tue, 01, March, 2022

In [26]:
import time
import datetime
from datetime import timedelta
from datetime import date, time, datetime, timedelta

print(timedelta(days=365, hours=5, minutes=1))

now = datetime.now()
print('Today',today_time)

print('One year from now it will be', str(now + timedelta(days=365)))

print('In two weeks and 3 days it will be', str(now + timedelta(weeks=2, days=3)))

#calculate the date 1 week ago formated as a string
t = datetime.now() - timedelta(weeks=1)
s = t.strftime("%A %B %d %Y")
print("One week ago it was", s)

365 days, 5:01:00
Today 2022-03-01 23:47:05.629520
One year from now it will be 2023-03-01 23:51:54.707689
In two weeks and 3 days it will be 2022-03-18 23:51:54.707689
One week ago it was Tuesday February 22 2022

In [30]:
## Calendar
import calendar

# Create Plain text calendar
c = calendar.TextCalendar(calendar.SUNDAY)
str = c.formatmonth(2022, 1, 0, 0)
print(str)

    January 2022
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31