# String

In [1]:
def srg(sr):
    count = 0
    for x in sr:
        count +=1
    return count
srg("jhssgh")

6

In [2]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
char_frequency('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [3]:
def str(str2):
    if len(str2)<2:
        return ""
    return str2[:2] + str2[-2:]
print(str("school"))

scol

In [4]:
def string(str1):
    char = str1[0]
    str1 = str1.replace(char,'$')
    str1 = char + str1[1:]
    
    return str1
string("restart")

'resta$t'

In [5]:
def swap(str1, str2):
    new_a = str1[:2] + str2[2:]
    new_b = str2[:2] + str1[2:]
    return new_a + " " + new_b 
swap("abc","xyz")

'abz xyc'

In [6]:
def add_string(str):
    length = len(str)
    if length>2:
        if str[-3:] == "ing":
            str += "ly"
        else:
            str += "ing"
    return str

print(add_string("string"))
print(add_string("school"))

stringly
schooling

In [7]:
# 8.Write a Python function that takes a list of words and return the longest word and the length of the longest one

def find_longest_word(words_list):
    word_len = []
    for x in words_list:
        word_len.append((len(x),x))
    word_len.sort()
    return word_len

find_longest_word(["PHP", "Exercises", "Backend"])

[(3, 'PHP'), (7, 'Backend'), (9, 'Exercises')]

In [8]:
def find_longest_word(words_list):
    word_len = []
    for x in words_list:
        word_len.append((len(x),x))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]

result = find_longest_word(["PHP", "Exercises", "Backend"])
print("\nLongest word: ",result[1])
print("Length of the longest word: ",result[0])

Longest word:  Exercises
Length of the longest word:  9

In [1]:
# 11. Write a Python program to remove the characters which have odd index values of a given string.

def remove_odd(items):
    result = ""
    for i in range(len(items)):
        if i%2==0:
            result = result + items[i]
    return result
remove_odd("welcome")

'wloe'

In [7]:
# 12. Write a Python program to count the occurrences of each word in a given sentence.

def count_occurance(str):
    count = dict()
    word = str.split()
    for n in word:
        if n in count:
            count[n] +=1
        else:
            count[n] = 1
    return count
count_occurance("hello kya ho raha hai kya")

{'hello': 1, 'kya': 2, 'ho': 1, 'raha': 1, 'hai': 1}

In [11]:
user= input("Enter the str/n")
print(user.upper())  #user.lower()

Enter the str/nkya ho raha hain
KYA HO RAHA HAIN

In [12]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsgreen, red yellow, green, black
 black, green, red yellow,green

In [19]:
# 16. Write a Python function to insert a string in the middle of a string.

def insert_sting_middle(str, word):
    return str[:11] + word + " "str[11:]
insert_sting_middle("welcome to india" , "kolkata")

'welcome to kolkata india'

In [1]:
def insert_str(str):
    sub_str = str[-2:]
    return sub_str*4
print(insert_str("python"))
print(insert_str("Excercise"))

onononon
sesesese

In [2]:
def first_three(str):
    length = len(str)
    if length < 3:
        print(str)
    else:
        print(str[0:3])
first_three('python')

pyt

In [3]:
# 19. Write a Python program to get the last part of a string before a specified character

def lst_str(str):
    print(str.rsplit('/',1)[0])
lst_str("https://www.w3resource.com/python-exercises")

https://www.w3resource.com

In [4]:
def rev_str(str):
    if len(str)%4==0:
        return ''.join(reversed(str))
    return str
rev_str("abcd")

'dcba'

In [5]:
# 23. Write a Python program to remove a newline in Python.
str = 'Python Exercises\n'
print(str.rstrip())

Python Exercises

In [6]:
# 24. Write a Python program to check whether a string starts with specified characters.

string = "w3resource.com"
print(string.startswith("w3r"))

True

# List [ ]

In [4]:
def sum_value(lst):
    sum = 0
    for x in lst:
        sum += x
    return sum
sum_value([2,3,4,5,6])

20

In [8]:
def mul_value(lst):
    sum = 1
    for x in lst:
        sum = sum * x
    return sum
mul_value([2,3,4,5,6])

720

In [16]:
def largest_value(ls):
    value = ls[0]
    for x in ls:
        if x > value:
            value = x
    return value
largest_value([2,30,4,5,6,24])

30

In [20]:
def count_str(ls):
    count = 0
    for x in ls:
        if len(x) > 1 and x[0]==x[-1]:
            count +=1
    return count
count_str(['abc','xyz','aba','a22a'])

2

In [23]:
dup = [10,20,30,30,40,50,60,40,50,10,20]
new_lst = []
for x in dup:
    if x not in new_lst:
        new_lst.append(x)
print(new_lst)

[10, 20, 30, 40, 50, 60]

In [18]:
def smallest_value(ls):
    value = ls[0]
    for x in ls:
        if x < value:
            value = x
    return value
smallest_value([2,30,4,5,6,24])

2

In [2]:
def value():
    l = list()
    for i in range(1,21):
        l.append(i*i)
    print(l[:5])
    print(l[-5:-1])
value()

[1, 4, 9, 16, 25]
[256, 289, 324, 361]

In [4]:
list = ['a','p','p','l','e']
a = ''.join(list)
print(a)

apple

In [12]:
#22. Write a Python program to find the index of an item in a specified list.
list1 = [1,2,3,4,5,6,8,9,10]
print(list1.index(9))

7

In [13]:
# 23. Write a Python program to flatten a shallow list.

lst = [[10,20,30,40],[50,60,70,80],[90,100,110,120]]
flatlst = []
for x in lst:
    for y in x:
        flatlst.append(y)
print(flatlst)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [6]:
# 28. Write a Python program to find the second smallest number in a list.
ls1 = [5,6,7,8,9,2,4]
def second_smallest(num):

AttributeError: module 'random' has no attribute 'rand'

In [8]:
# 30. Write a Python program to get the frequency of the elements in a list
def list_lr(items):
    dict = {}
    for n in items:
        keys = dict.keys()
        if n in keys:
            dict[n] +=1
        else:
            dict[n] = 1
    return dict
list_lr([2,3,4,5,2,3,7,8,6,7])

{2: 2, 3: 2, 4: 1, 5: 1, 7: 2, 8: 1, 6: 1}

In [19]:
# 31. Write a Python program to count the number of elements in a list within a specified range

def count_lst(items):
    count = 0
    for x in items:
        count +=1
    return count
count_lst([2,3,4,24,5,5,8])

7

In [28]:
def coun_ls(ls, min, max):
    count = 0
    for x in range(min,max):
        if min <= x <= max :
            count += 1
    return count
coun_ls([7,8,9,10,11,12,13,14,15,17,18], 15,18 )

3

In [20]:
## Write a Python program to create a list by concatenating a given list which range goes from 1 to n.

In [28]:
# 37. Write a Python program to find common items from two lists

def common_list(ls1, ls2):
    list3 = []
    for x in ls1:
        for y in ls2:
            if x==y:
                list3.append(x)
    return list3
common_list([2,4,6,8,9],[2,5,6,8,1])

[2, 6, 8]

In [29]:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"
print(set(color1) & set(color2))

{'White', 'Green'}

In [31]:
#39. Write a Python program to convert a list of multiple integers into a single integer.

lst =  [11, 33, 50]
for x in lst:
    print(x, end = "")

113350

In [34]:
# 42. Write a Python program to find missing and additional values in two lists.

list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
print('Missing values in second list: ', ','.join(set(list1).difference(list2)))
print('Additional values in second list: ', ','.join(set(list2).difference(list1)))

Missing values in second list:  c,b,a
Additional values in second list:  g,h

In [7]:
color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"),
         ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

In [8]:
# 45. Write a Python program to convert a pair of values into a sorted unique array.

L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
l1 = []
for x in L:
    for y in x:
        if y not in l1:
            l1.append(y)
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# 49. Write a Python program to convert list to list of dictionaries.

color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
zipped = [{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)]
print(zipped)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

# Tuple()

In [10]:
# 5. Write a Python program to add an item in a tuple. 

tup = (1,2,3,4)
tup = tup + (9,)
print(tup)

tup = tup[:5] + (15,17,19) + tup[:5]
print(tup)

lstx = list(tup)
lstx.append(30)
tuplex = tuple(lstx)
print(tuplex)

(1, 2, 3, 4, 9)
(1, 2, 3, 4, 9, 15, 17, 19, 1, 2, 3, 4, 9)
(1, 2, 3, 4, 9, 15, 17, 19, 1, 2, 3, 4, 9, 30)

In [11]:
# 9. Write a Python program to find the repeated items of a tuple.

t1 = (2,3,4,5,6,5,4,9,2,8,9,4)
print(t1.count(4))

3